<!DOCTYPE html>
{% load static %}
{% include 'myhead.html' %}



<html>
<head>
    <title>Contact Form Success</title>
</head>
<body>

    {% include 'topbar.html' %}
        {% include 'navbar.html' %}

     <div class="container-fluid py-3">
        <div class="container">
            <br><br><br>
    <h1>Thank You!</h1>
    <p>Your message has been submitted successfully.</p>
    <br><br><br>
</div>
</div>

{% include 'newsandside.html' %}

{% include 'foot.html' %}
{% include 'footer.html ' %}
</body>
</html>
